<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="_styles/style.css">
    <link rel="shortcut icon" href="">
    <title>Ajuda Prof.</title>
</head>
<body>
    <div class="menu">
        <a href="_website/teacher.html">Professor</a>
        <a href="_website/parents.html">Responsável</a>
        <a href="_website/student.html">Aluno</a>
    </div>

    <footer>Desenvolvido por Rafael.</footer>  
</body>
</html>