<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/crud.css" rel="stylesheet" type="text/css">
   <title>Alteração de Cursos</title>
</head>
<body>
   {% if current_user.is_authenticated %}
      <div style="text-align:center">
         <h1>Teste de alterar</h1>
         <hr/>
         <h2>{{ msg }}</h2>
         <hr/>
         <br/>
         <a href=" {{ url_for('home') }}"> Voltar ao menu</a>
         <a href="{{ url_for('logout') }}">Sair</a>
      </div>
   {% else %}
      <div>
         <h1>Visitante</h1>
         <p>Você não pode visitar essa página sem estar logado!!!</p>
      </div>
{% endif %}
</body>
</html>