<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="_styles/estilo.css">
    <title>Home</title>
</head>
<body>
    <header>
            <div class="menu">
                <a href="perfil_prof.html">Editar perfil</a>
                <a href="atividades_notas_prof.html">Atividades e notas</a>
            </div>

    </header>
    <div id="cabecalho">
        <figure class="circle">
            <img src="../_image/ProfessorGirafales.png" title="professor" alt="Foto/simbolo"/>
        </figure>
        <h1>Professor linguiça</h1>
    </div>
    <div>
        <p><strong>Mural</strong></p>
        <p><strong>Ocorrências</strong></p>
    </div>
    <footer>Rodapé</footer>  
</body>
</html>
