<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/formatar.css">
    <link rel="shortcut icon" href="">
    <title>Ajuda Prof.</title>
</head>
<body>
    <div style="text-align:center" class="menu">
        <a  href="/login_p">Professor</a>
        <a href="/login_r">Responsável</a>
        <a href="/login_a">Aluno</a>
    </div>
</body>
</html>