<form action="" method="post">
    <input type="text" name="nme_professor" placeholder="Insira um nome">
    <input type="password" name="senha_professor" placeholder="********">
    <input type="text" name="matricula_professor" placeholder="Matricula">
    <input type="text" name="formacao_professor" placeholder="Formação">
    <input type="text" name="nasc_professor" placeholder="Data de Nascimento">
    <input type="text" name="sangue_professor" placeholder="Tipo Sanguineo">
    <input type="text" name="disc_professor" placeholder="Disciplina">
    <input type="submit" value="Cadastrar">
</form>